<a id="callListRecipes" hidden data-ajax="true"
    data-ajax-begin="viewTarget" data-ajax-method="GET"
    data-ajax-mode="replace" data-ajax-update="#viewTarget"
    href="/List/_AllRecipes">
</a>

<script>
    function localFunction() {
        document.getElementById("callListRecipes").click();
    }
    window.onload = localFunction;
</script>
